.header {
    width: 100%;
    height: 50px;
    background-color: var(--dark-green);
    color: var(--soft-white);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span {
    font-family: "Ballet";
    font-size: 1.5rem;
    color: var(--gold);
    padding-left: 1.5rem;
    cursor: default;
}

.header a {
    text-decoration: none;
    color: var(--soft-white);
    padding-right: 1.5rem;
    transition: 0.3s;
    font-size: .9rem;
}

.header a:hover {
    color: var(--gold);
    font-size: 1rem;
}

@media (max-width: 425px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 0.5rem;
        align-items: center;
    }

    .header span {
        font-size: 1.3rem;
        padding-left: 0;
        padding-bottom: 0.3rem;
    }

    .header nav {
        flex-direction: column;
        align-items: center;
    }

    .header a {
        padding-left: 0.3rem;
        padding-right: 0.2rem;
        font-size: .8rem;
    }

    .header a:hover {
        font-size: .9rem;
    }
}

@media (max-width: 375px) {
    .header a {
        font-size: 0.7rem;
    }

    .header a:hover {
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    .header a {
        padding-left: 0.3rem;
        padding-right: 0.2rem;
        font-size: 0.6rem;
    }

    .header a:hover {
        font-size: .7rem;
    }
}